.discover-button {
    cursor: pointer;
    padding: 0px 8px;
    border: 0;
    box-sizing: border-box;
    border-radius: 12px;
    background-color: rgba(230,230,230,0.6);
    color: #16191c;
    font-weight: 600;
}